@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=EB+Garamond:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap');

@font-face {
    font-family: "Warbler";
    /* add italic option too */
    src: url('WarblerText-Regular-Edu.woff2') format('woff2');
}

@font-face {
    font-family: "Warbler";
    /* add italic option too */
    src: url('WarblerText-Italic-Edu.woff2') format('woff2');
    font-style: italic;
}
@font-face {
    font-family: "Warbler";
    /* add italic option too */
    src: url('WarblerText-Bold-Edu.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: "Warbler Display";
    src: url('WarblerBanner-Regular-Edu.woff') format('woff');
}

@font-face {
    font-family: "Warbler Display";
    src: url('WarblerBanner-Bold-Edu.woff2') format('woff2');
}

body, html{
    margin: 0rem;
    padding: 0;
    width: 100%;
    font-size: 18px;
    font-family: "Warbler", serif;
;
    /* background: linear-gradient(red, orange, yellow, green, cyan, blue, indigo, purple, pink); */
    scroll-behavior: smooth;
}

body{
    overflow-x: scroll;
    z-index: 0;
    position: relative;
}

* {
    box-sizing: border-box;
}

div {

    /* position: relative; */ 
}


img{
    width:100%;
    /* border-radius: 5px; */
}

p, li{
    font-size: 1em;
    line-height: 1.5;
}

a{
    font-size: 18px;
    color: #842ce9;
    text-underline-offset: 5px;
}

h1, h2 {
    font-family: 'montserrat', serif;
}

h1{
    font-size: 2.5em;
    text-align: center;
}

h2{
    font-size: 2em;
}

nav{
    background-color: #492980;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: sticky;
    top: 0;
    z-index: 100;
    gap: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

nav img{
    height: 1em;
    width: 1em; 
    margin: calc(-0.5em + 0.5rem) 10px calc(-0.5em + 0.5rem) 0;
}

nav a:hover{
    text-decoration: underline;
}

.spacer{
    flex-grow: 1;
}


header {
    background-image: linear-gradient(to top, #FFFFFF,#fff5fe 10%, #eaccf4 40%, #A080E1 70%,  #5C509E 90%, #382D73);
    position: relative;
    z-index: -1;
    width: 100%;
    padding: 120px 30px;
    /* height: 500px; */
    margin-bottom: -40px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    color: white;
    overflow: hidden;
}

header p{
    position: fixed;
    mix-blend-mode: hard-light;
    will-change: transform;
    font-size: 1.5em;
    opacity: 0.5;
    font-weight: lighter;
    pointer-events: none;
    z-index: -1;
    transition: scale 2s ease, rotate 2s ease, filter 2s ease;
}

header h1{
    color: #492980;
    font-weight: 750;
    font-size: 70px;
}

section{
    padding: 0px 30px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 900px;
}


#topics{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    /* border-radius: 50px */
    overflow: hidden;
    border: 2px solid #492980;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    margin: auto;
    z-index: 10;
    width: fit-content;
}

#topics a{
    display: block;
    border:none;
    font-family: "Montserrat",sans-serif;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
    text-decoration: none;
    flex-grow: 1;
    flex-shrink: 1;
    width: 170px;
    color: black;
}

#topics a:hover{
    background-color: black;
    color: white;
}


#join{
    background-color: #492980;
    color: white !important;
}



#thing1 {
    text-align: center;
    font-size: 130%;
}
#images {
    margin: 0rem;
    max-width: unset;
    padding: 0px;
    overflow:hidden;
    user-select: none;
    display: flex;

    left: 0;

}

#images div{
    display: flex;
    animation-name: scroll;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#images img {
    margin: 2vmin;
    flex-shrink: 1;
    flex-grow: 0;
    object-fit: cover;
    height: 50vmin;
    width: unset;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#officers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: lightgray;
    max-width: unset;
    padding: 20px;
}

#officers h2, #officers > p{
    width: 100%;
    text-align: center;
    margin: 0;
}

.officerCard{
    font-family: "Montserrat",sans-serif;
    position: relative;
    background-color: white;
    /* padding: 20px; */
    /* overflow: hidden; */
    width: 200px;
    height: 300px;
    /* padding: 20px; */
}
#box1:hover #text1 {
    opacity: 1;
} 
#text1 {
    opacity: 0;
    transition: 0.5s all;
}
.officerCard::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,0.5), transparent, transparent, rgba(0,0,0,1));
    width: 100%;
    height: 100%;
    z-index: 2;
}

.officerCard img{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.officerCard h3,.officerCard p{
    position: absolute;
    color: white;
    z-index: 10;
    margin: 10px 15px;
}

.officerCard p{
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 900px){
    .officerCard{
        width: 150px;
        height: 200px;
    }
    
}


#ECA{
    font-family: monospace;
    font-style: italic;
}
