@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=EB+Garamond:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

body, html{
    margin: 0rem;
    padding: 0;
    width: 100%;
    font-family: "EB Garamond", serif;
    /* background: linear-gradient(red, orange, yellow, green, cyan, blue, indigo, purple, pink); */
}

body{
    overflow-x: scroll;
    z-index: 0;
    position: relative;
}

div {

    position: relative;
}
* {
    box-sizing: border-box;
}

img{
    width:100%;
    /* border-radius: 5px; */
}

p{
    font-size: 18px;
    line-height: 1.5;
}

h1, h2 {
    font-family: 'Cormorant Garamond';
}

h1{
    font-size: 2.5em;
    text-align: center;
}

h2{
    font-size: 2em;
}

header {
    background-image: linear-gradient(to top, #FFFFFF,#fff5fe 10%, #eaccf4 40%, #A080E1 70%,  #5C509E 90%, #382D73);
    position: relative;
    z-index: -1;
    width: 100%;
    padding: 120px 30px;
    /* height: 500px; */
    margin-bottom: -40px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    color: white;
    overflow: hidden;
}

header p{
    position: absolute;
    mix-blend-mode: hard-light;
    will-change: transform;
    font-size: 2em;
    opacity: 0.5;
    font-weight: lighter;
    pointer-events: none;
    z-index: -1;
    transition: scale 2s ease, rotate 2s ease, filter 2s ease;
}

#topics{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    /* border-radius: 50px */
    overflow: hidden;
    border: 2px solid #492980;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    margin: 0px;
}

#topics a{
    display: block;
    border:none;
    font-family: sans-serif;
    font-size: 1.5em;
    padding: 10px 30px;
    font-weight: bold;
    transition: all 0.2s ease;
    text-decoration: none;
    color: black;
}

#topics a:hover{
    background-color: black;
    color: white;
}


#join{
    background-color: #492980;
    color: white !important;
}


section{
    padding: 0px 30px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 900px;
}

#thing1 {
    text-align: center;
    font-size: 130%;
}
#images {
    margin: 0rem;
    max-width: unset;
    padding: 0px;
    overflow:hidden;
    user-select: none;
    display: flex;

    left: 0;
    animation-name: scroll;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#images img {
    margin: 2vmin;
    flex-shrink: 1;
    flex-grow: 0;
    object-fit: cover;
    height: 50vmin;
    width: unset;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
